.seaView-theme {
  background-color: rgb(255,255,255);
}

.seaView-theme .header-background-color {
  background-color: rgb(200,200,255);
}

.seaView-theme .center-header-color{
  background-color: rgb(230,230,255);
}

.seaView-theme .header-text-color {
  color: rgb(30,30,30);
}

.seaView-theme .main-color {
  background-color: rgb(240,240,240);
}

.seaView-theme .story-box-color {
  background-color: rgb(240, 248, 255);
  border: 2px solid rgb(20,20,20);
}

.seaView-theme textarea {
  background-color: rgb(240, 248, 255);
  color: rgb(30,30,30);
}

.seaView-theme .footer-color {
  border-top: 4px solid rgb(20,20,20);
  background-color: rgb(200,200,255);
}

.seaView-theme .footer-text-color {
  color: rgb(30,30,30);
}



.midnight-theme {
  background-color: rgb(0, 0, 0);
}

.midnight-theme .header-background-color {
  background-color: rgb(30,30,60);
}

.midnight-theme .center-header-color{
  background-color: rgb(60,60,90);
}

.midnight-theme .header-text-color {
  color: rgb(230,230,230);
}

.midnight-theme .main-color {
  background-color: rgb(50,50,60);
}

.midnight-theme .story-box-color {
  background-color: rgb(210, 210, 210);
  border: 2px solid rgb(20,20,20);
}

.midnight-theme textarea {
  background-color: rgb(210, 210, 210);
  color: rgb(30,30,30);
}

.midnight-theme .footer-color {
  border-top: 4px solid rgb(20,20,20);
  background-color: rgb(30,30,60);
}

.midnight-theme .footer-text-color {
  color: rgb(220,220,220);
}



.hellScape-theme {
  background-color: rgb(190, 20, 20);
}

.hellScape-theme .header-background-color {
 background-color: rgb(150,0,0);
}

.hellScape-theme .center-header-color{
 background-color: rgb(190,40,40);
}

.hellScape-theme .header-text-color {
  color: rgb(250, 250, 250);
}

.hellScape-theme .main-color {
  background-color: rgb(180, 30, 30); 
}

.hellScape-theme .story-box-color {
  background-color: rgb(255, 190, 190);
  border: 2px solid rgb(20,20,20);
}

.hellScape-theme textarea {
  background-color: rgb(255, 190, 190);
  color: rgb(30,30,30);
}

.hellScape-theme .footer-color {
  border-top: 4px solid rgb(20,20,20);
  background-color: rgb(150,0,0);
}

.hellScape-theme .footer-text-color {
  color: rgb(250,250,250);
}



.void-theme {
  background-color: rgb(20, 8, 18);
  color: rgb(230,230,230);
}

.void-theme .header-background-color {
  background-color: rgb(32, 14, 30);
}

.void-theme .center-header-color{
  background-color: rgb(78, 31, 57);
}

.void-theme .header-text-color {
  color: rgb(230, 230, 230);
}

.void-theme .main-color {
  background-color: rgb(20, 8, 18);
}

.void-theme .story-box-color {
  background-color: rgb(100, 83, 99);
  border: 2px solid rgb(20,20,20);
}

.void-theme textarea {
  background-color: rgb(100, 83, 99);
  color: rgb(10,10,10);
}

.void-theme .footer-color {
  border-top: 4px solid rgb(20,20,20);
  background-color: rgb(32, 14, 30);
}

.void-theme .footer-text-color {
  color: rgb(230,230,255);
}


/* .muah1-theme {
  background-color: rgb(125, 20, 100);
  color: rgb(230,230,230);
}

.muah1-theme .header-background-color {
  background-color: rgb(100, 0, 75);
}

.muah1-theme .center-header-color{
  background-color: rgb(80, 0, 55);
}

.muah1-theme .header-text-color {
  color: rgb(230, 230, 230);
}

.muah1-theme .main-color {
  background-color: rgb(20, 8, 18);
  background: url("../img/backgroundUwU1.png") no-repeat;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
}

.muah1-theme .story-box-color {
  background-color: rgb(150, 0, 125);
  border: 2px solid rgb(20,20,20);
}

.muah1-theme textarea {
  background-color: rgb(150, 0, 125);
  color: rgb(10,10,10);
}

.muah1-theme .footer-color {
  border-top: 4px solid rgb(20,20,20);
  background-color: rgb(100, 0, 75);
}

.muah1-theme .footer-text-color {
  color: rgb(230,230,255);
} */