  /* animations for addButton */
  
  .button-center-spin {
    transition: transform 0.5s;
  }

  #addNewButton:hover .button-center-spin {
    transform: rotate(360deg);
    transition: all 0.5s;
  }
  /* end of animations for addButton */



  .flashGreen {
    animation: flashGreen 1s ease 0s forwards;
  }
  
  @keyframes flashGreen {
    50% {
      background-color: rgb(70,200,70);
    }
  }