a {
  color: initial;
  text-decoration: initial;
}

p {
  margin: 0;
}


body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: rgb(230, 230, 230);
  background-color: rgb(20, 8, 18);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 2;
  transition: all 0.5s;
}
  .logoAndTitleContainer {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    height: 100%;
    aspect-ratio: 3 / 1;
    /* background-color: rgb(78, 31, 57); */
    border-radius: 3vh 1vh;
    margin: 0 0 0 2.5%;
    display: flex;
  }
    .logoAndTitleContainer_logo {
      position: relative;
      aspect-ratio: 1 / 1;
      height: 90%;
      border-radius: 3vh 0 0 1vh;
      transition: all 0.5s;
      margin: 5% 0 0 0;
    }
    .logoAndTitleContainer_logo:hover {
      filter: brightness(115%);
      transform: scale(95%);
      transition: all 0.5s;
    }
    .logoAndTitleContainer_title {
      position: relative;
      font-size: 4.25vh;
      text-align: center;
      font-weight: bold;
      transition: all 0.5s;
    }

main {
  background-color: rgb(20, 8, 18);
  position: absolute;
  top: 7%;
  left: 0;
  height: 82.5%;
  width: 100vw;
  overflow: scroll hidden;
  z-index: 1;
  transition: all 0.5s;
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  transition: all 0.5s;
}
  .copyright {
    text-align: center;
    font-size: 1.15vw;
    font-weight: bold;
    position: absolute;
    left: 2.5%;
    top: 50%;
    transform: translateY(-50%);
  }
  #reportIssueButton {
    /* position: absolute;
    right: 15%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    aspect-ratio: 4 / 1;  old
    border-radius: 2vh;
    transition: all 0.5s; */
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 2.5vw;
    aspect-ratio: 4 / 1;
    border-radius: 2vh;
    transition: all 0.5s;
  }
  #reportIssueButton:hover {
      transition: all 0.5s;
  }
  .reportIssueButton_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25vw;
    text-align: center;
    width: 100%;
    font-weight: bold;
  }
  #versionNumber {
    text-align: center;
    font-size: 1.15vw;
    font-weight: bold;
    position: absolute;
    right: 2.5%;
    top: 50%;
    transform: translateY(-50%);

  }

#themeMenuButton {
  position: absolute;
  right: 15%;
  height: 100%;
  aspect-ratio: 1 / 1;
  transition: all 0.5s
}
.fontSizeSelect_menu_container {
  position: absolute;
  left: 13.5%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .fontSizeSelect_menu { 
    height: fit-content;
    width: fit-content;
    font-size: 1vw;
    padding: 1%;
    transition: all 0.5s
  }
    .fontSizeSelect_menu_label {
      font-size: 1.25vw;
      position: relative;
      left: 10%;
    }
  .fontSizeSelect_menu:focus {
    outline: none;
  }
#saveButton {
  position: absolute;
  right: 5%;
  height: 100%;
  aspect-ratio: 1 / 1;
  transition: all 0.5s
}
#globalStyleMenuButton {
  position: absolute;
  right: 25%;
  height: 100%;
  aspect-ratio: 1 / 1;
  transition: all 0.5s
}
#clearDataButton {
  position: absolute;
  right: 35%;
  height: 100%;
  aspect-ratio: 1 / 1;
  transition: all 0.5s
}
#importExportButton {
  position: absolute;
  right: 45%;
  height: 100%;
  aspect-ratio: 1 / 1;
  transition: all 0.5s
}
.iconButton_dark:hover {
  background-color: rgba(250, 250, 250, 0.05);
  transform: scale(95%);
  transition: all 0.5s;
}
.iconButton_light:hover {
  background-color: rgba(5, 5, 5, 0.05);
  transform: scale(95%);
  transition: all 0.5s;
}
.button {
  cursor: pointer;
}
.popUpBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(30,30,30,0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#okButton {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.stroylineTitle_div {
  position: fixed;
  top: 17%;
  width: 100%;
  height: fit-content;
  font-size: 2.75vw;
  text-align: center;
  z-index: 24;
  display: flex;
  justify-content: center;
}

#storylineTitle{
  width: 40%;
  height: 100%;
  cursor: pointer;
}

#storylineNotepad {
  position: absolute;
  top: 0%;
  width: fit-content;
  height: 90%;
  display: flex;
  padding: 2.5% 2.5% 0 2.5%;
}

#StoryBoxSection {
  display: flex;
  align-items: center;
  height: 100%;
}


.box_container {
  position: relative;
  display: flex;
  width: fit-content;
  height: 60%;
}

.storyBox{
  height: 95%;
  aspect-ratio: 1 / 1;
  border-radius: 1vh;
  padding: 2.5%;
  transition: all 0.5s
}

textarea {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  resize: none;
  outline: none;
  text-align: center;
  transition: all 0.5s
}

.arrow {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  width: 30vh;
  height: fit-content;
  padding: 0 1vh 0 1vh;
  transition: all 0.5s;
}
.arrow:hover {
  transform: scale(105%) translate(0, -50%);
}

.arrow img {
  width: 100%;
  aspect-ratio: 4 / 1;
}



#addNewStoryboxButton {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 55%;
  aspect-ratio: 1 / 1;
  border-radius: 2vh;
  cursor: pointer;
}

.addNewStoryboxButton_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  aspect-ratio: 1 / 1;
  pointer-events: none;
  transition: transform 0.75s;
}

#addNewStoryboxButton:hover .addNewStoryboxButton_center {
  transform: translate(-50%, -50%) rotate(360deg);
}



#contextMenu {
  position: fixed;
  z-index: 1000;
}
  .contextMenu_buttons {
    text-align: center;
    width: 90%;
    padding: 5%;
    font-size: 2.5vh;
    transition: 0.25s all;
    cursor: pointer;
  }


.wrongScreenAspectRatioElement {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center
}
  .wrongScreenAspectRatioElement_firstText {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 10vw;
  }
  .wrongScreenAspectRatioElement_lastText {
    position: relative;
    width: 90%;
    text-align: center;
    font-size: 5vw;
    padding: 0 5% 0 5%;
  }



#newUpdateElement {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  aspect-ratio: 5 / 3;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 2vh;
}
  #popupElement_closeButton {
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    height: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 0.5vh;
    transition: all 0.5s;
    border: 0.25vw solid rgb(20, 20, 20);
  }
  #popupElement_closeButton:hover {
    transition: all 0.5s;
    filter: brightness(125%);
    transform: scale(105%);
  }
  .newUpdateElement_heading {
    position: relative;
    margin-top: 5%;
    width: 90%;
    padding: 0 5%;
    font-size: 3vw;
    pointer-events: none;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
  }
  .newUpdateElement_version {
    position: relative;
    margin-top: 1.5%;
    width: 90%;
    padding: 0 5%;
    font-size: 2vw;
    pointer-events: none;
    text-align: center;
    font-weight: bold;
  }
  .newUpdateElement_subHeading {
    position: relative;
    margin-top: 2.5%;
    width: 90%;
    padding: 0 5%;
    font-size: 2.25vw;
    pointer-events: none;
    text-align: center;
  }
  .newUpdateElement_list {
    position: relative;
    width: 80%;
    padding: 0 5%;
    font-size: 1.70vw;
    pointer-events: none;
    text-align: center;
    margin:  2.5% auto 0 auto;
  }
    .newUpdateElement_list li {
      text-align: center;
      list-style-position: inside;
      list-style-type: square;
      margin-bottom: 1%;
    }
  .newUpdateElement_text1 {
    position: relative;
    margin-top: 2%;
    width: 90%;
    padding: 0 5%;
    font-size: 1.75vw;
    pointer-events: none;
    text-align: center;
  }
  .seeChangelogButton {
    position: relative;
    left: 50%;
    margin-top: 2.5%;
    transform: translateX(-50%);
    aspect-ratio: 4 / 1;
    width: 23%;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
    .seeChangelogButton p {
      text-align: center;
      font-size: 1.5vw;
      font-weight: bold;
    }



#themeMenu {
  position: absolute;
  right: 0;
  top: 10%;
  width: 30%;
  height: 40%;
  z-index: 10;
  transition: all 0.5s;
}
 .clickThrough {
  pointer-events: none;
 }
  #themeMenu_categorySection {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    transition: all 0.5s;
  }
    .themeMenu_categorySection_text {
      width: 100%;
      padding: 5% 0;
      font-size: 1.5vw;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s;
    }
      .selectedThemeCategory {
        font-weight: bold;
      }
  #themeMenu_themeSection {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(75% - 0.60vh);
    height: 100%;
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
  }
    .themeMenu_themeSection_themeButton {
      position: relative;
      margin-top: 2.5%;
      width: 45%;
      aspect-ratio: 3 / 2;
      border-radius: 2vh;
      cursor: pointer;
      transition: all 0.5s;
    }
      .selectedMenuButton {
        font-weight: bold;
        text-decoration: underline;
      }
      .themeMenu_themeSection_themeButton_themeTitle {
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 1vw;
        bottom: 10%;
        text-decoration: inherit;
      }
      .previewContainer {
        width: 50%;
        aspect-ratio: 3 / 2;
        border-radius: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 25% 0 25%;
        transition: border 0.5s;
      }
        .preview_noPreview {
          font-size: 1.5vw;
        }

        .previewBar {
          flex: 1;
          height: 100%;
        }

#globalStyleMenu {
  position: absolute;
  right: 0;
  top: 10%;
  width: 15%;
  height: 40%;
  z-index: 10;
  transition: all 0.5s;
}
  #globalStyleMenu_buttonSection {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
  }
    .globalStlyeMenu_buttonSection_styleButton {
      cursor: pointer;
      transition: all 0.25s;
    }
      .globalStlyeMenu_buttonSection_text {
        text-align: center;
        width: 100%;
        padding: 5% 0;
        font-size: 1.5vw;
      }


#importExportElement {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  aspect-ratio: 5 / 3;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 2vh;
}
  .importExport_title {
    position: relative;
    margin-top: 4%;
    width: 90%;
    padding: 0 5%;
    font-size: 2.75vw;
    font-weight: bold;
    pointer-events: none;
    text-align: center;
    text-decoration: underline;
  }
  .exportDiv {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
    .importExportButton {
      aspect-ratio: 3 / 1;
      width: 60%;
      border-radius: 2vw;
      display: flex;
      align-items: center;
      transition: all 0.5s;
    }
      .exportButton_currentActiveStoryline_text {
        text-align: center;
        font-size: 2vw;
        width: 90%;
        padding: 0 5%;
      }
      /* .exportButton_allData_text {
        text-align: center;
        font-size: 2vw;
        width: 90%;
        padding: 0 5%;
      } */
  .importDiv {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
    .importButton_storyline_text {
      text-align: center;
      font-size: 2vw;
      width: 90%;
      padding: 0 5%;
    }